<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
<app-menu></app-menu>

<app-slider></app-slider>
<div class="container content-container">
<app-list-league class="grid-item"></app-list-league>
<!-- <app-league-table class="grid-item"></app-league-table> -->
</div>
<hr/>

<!--<app-head-to-head></app-head-to-head>
 <app-last-match></app-last-match> 
<app-performace></app-performace>-->
<app-footer></app-footer>
</div>

<router-outlet></router-outlet>
